.App {
  text-align: center;
}
.MuiContainer-root {
  background-color: bisque;
}

@media (min-width: 600px){
.MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
    background-color: bisque;
}
}